body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h3, #typewriter {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 123, 255);
  white-space: nowrap;
  font-size: 4em;
}

#section1 {
  display: flex;
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content, #sick-person {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

#welcome {
  border: 1px solid black;
  padding: 20px;
  color: white;
  font-size: large;
  margin-top: 100px;
}

#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#home-nav {
  width: 100%;
  margin-bottom: 20px;
}

.card.blue-grey.darken-1 {
  height: 100px;
  width: 400px;
  background-color: #1976D2 !important;
}

.card.blue-grey.darken-1 .card-content.white-text,
.card.blue-grey.darken-1 .card-action a {
  color: white !important;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  flex: 0 0 auto;
  margin: 0 8px;
  margin-bottom: 16px;
}

.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

#section3 {
  margin-top: 50px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
}

#carousel1, #carousel2, #carousel3 {
  width: 600px;
  height: auto;
}

#testimonials {
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .text-content, #sick-person {
    max-width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #sick-person {
    display: none;
  }

  .text-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #section2 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section2 .col {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  #section2 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section2 .col {
    width: 100%;
    margin-bottom: 20px;
  }
}