body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 75vh;
}
    
footer.page-footer card-panel blue darken-4 {
margin: 0;
}
html, body {
  height: 100%;
}

#chat-box {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 23%;
  left: 76%;
  border: 1px solid black;
  box-shadow: rgb(51, 51, 51) 3px 0px 11px, rgb(51, 51, 51) -5px 0px 15px;

}
#chat-box button {
  width: 100%;
  font-size: 2rem;
  margin: auto;
  background-color: #717273;
  color: white;
  cursor: pointer;
  
}
#chat-box #chat-container {
  display: none;
}
#chat-box #chat-container #messages {
  max-height: 50vh;
  overflow: scroll;
}
#chat-box #chat-container form {
  display: flex;
}
#chat-box #chat-container form textarea {
  width: 100%;
}

.ping {
  font-size: 2rem;
  background-color: green;
  color: white;
  margin:auto;
  position: fixed;
  border-radius: 10px;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  animation: flyin 1s forwards
}

@keyframes flyin {
  from {top: -1rem}
  to {top: 1rem}
}